<div class="jumbotron">
	<h1>About Us</h1>
	<p>This is my very first website building attempt. I've never tried anything really like this before and I'm rather excited about it. Hopefully soon I'll be on my own making millions!</p>
	<p>To hear more, click <%= link_to "here!", "#", class: "btn btn-success" %></p>
</div>